# NOAA

In [1]:
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
%matplotlib inline

In [2]:
noaa_raw = pd.read_csv('data/ch4_mm_gl (1).txt', comment='#', delim_whitespace=True)
noaa_raw

     year  month   decimal  average  average_unc   trend  trend_unc
0    1983      7  1983.542   1625.9          2.5  1634.6        1.6
1    1983      8  1983.625   1628.0          3.1  1635.2        1.5
2    1983      9  1983.708   1638.4          2.5  1635.9        1.4
3    1983     10  1983.792   1644.8          1.6  1636.6        1.4
4    1983     11  1983.875   1642.6          0.7  1637.4        1.3
..    ...    ...       ...      ...          ...     ...        ...
428  2019      3  2019.208   1866.0         -9.9  1864.4       -9.9
429  2019      4  2019.292   1865.1         -9.9  1865.3       -9.9
430  2019      5  2019.375   1862.2         -9.9  1866.3       -9.9
431  2019      6  2019.458   1859.9         -9.9  1867.3       -9.9
432  2019      7  2019.542   1858.6         -9.9  1868.2       -9.9

[433 rows x 7 columns]

In [3]:
noaa_clean = noaa_raw.drop(columns='decimal').sort_values(['year', 'month'], ascending=True).set_index('year')
noaa_clean

      month  average  average_unc   trend  trend_unc
year
1983      7   1625.9          2.5  1634.6        1.6
1983      8   1628.0          3.1  1635.2        1.5
1983      9   1638.4          2.5  1635.9        1.4
1983     10   1644.8          1.6  1636.6        1.4
1983     11   1642.6          0.7  1637.4        1.3
...     ...      ...          ...     ...        ...
2019      3   1866.0         -9.9  1864.4       -9.9
2019      4   1865.1         -9.9  1865.3       -9.9
2019      5   1862.2         -9.9  1866.3       -9.9
2019      6   1859.9         -9.9  1867.3       -9.9
2019      7   1858.6         -9.9  1868.2       -9.9

[433 rows x 5 columns]

In [4]:
noaa_raw['year'].shape

(433,)

In [5]:
noaa_clean['month'].shape

(433,)

In [6]:
time_df = pd.DataFrame({'year': noaa_raw['year'].values,
              'month': noaa_clean['month'].values,
              'day': np.ones(433,)})

In [7]:
time = pd.to_datetime(time_df)
time

0     1983-07-01
1     1983-08-01
2     1983-09-01
3     1983-10-01
4     1983-11-01
         ...
428   2019-03-01
429   2019-04-01
430   2019-05-01
431   2019-06-01
432   2019-07-01
Length: 433, dtype: datetime64[ns]

In [8]:
time_pdseries = time.to_frame(name='time')
time_pdseries.head(4)

        time
0 1983-07-01
1 1983-08-01
2 1983-09-01
3 1983-10-01

In [9]:
time_pdseries.time

0     1983-07-01
1     1983-08-01
2     1983-09-01
3     1983-10-01
4     1983-11-01
         ...
428   2019-03-01
429   2019-04-01
430   2019-05-01
431   2019-06-01
432   2019-07-01
Name: time, Length: 433, dtype: datetime64[ns]

In [10]:
noaa_xr = xr.Dataset.from_dataframe(noaa_clean)
noaa_xr

<xarray.Dataset>
Dimensions:      (year: 433)
Coordinates:
  * year         (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019
Data variables:
    month        (year) int64 7 8 9 10 11 12 1 2 3 4 ... 10 11 12 1 2 3 4 5 6 7
    average      (year) float64 1.626e+03 1.628e+03 ... 1.86e+03 1.859e+03
    average_unc  (year) float64 2.5 3.1 2.5 1.6 0.7 ... -9.9 -9.9 -9.9 -9.9 -9.9
    trend        (year) float64 1.635e+03 1.635e+03 ... 1.867e+03 1.868e+03
    trend_unc    (year) float64 1.6 1.5 1.4 1.4 1.3 ... -9.9 -9.9 -9.9 -9.9 -9.9

In [11]:
noaa = noaa_xr.assign_coords({'time': time})
noaa

<xarray.Dataset>
Dimensions:      (dim_0: 433, year: 433)
Coordinates:
  * year         (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019
  * dim_0        (dim_0) int64 0 1 2 3 4 5 6 7 ... 426 427 428 429 430 431 432
    time         (dim_0) datetime64[ns] 1983-07-01 1983-08-01 ... 2019-07-01
Data variables:
    month        (year) int64 7 8 9 10 11 12 1 2 3 4 ... 10 11 12 1 2 3 4 5 6 7
    average      (year) float64 1.626e+03 1.628e+03 ... 1.86e+03 1.859e+03
    average_unc  (year) float64 2.5 3.1 2.5 1.6 0.7 ... -9.9 -9.9 -9.9 -9.9 -9.9
    trend        (year) float64 1.635e+03 1.635e+03 ... 1.867e+03 1.868e+03
    trend_unc    (year) float64 1.6 1.5 1.4 1.4 1.3 ... -9.9 -9.9 -9.9 -9.9 -9.9

In [12]:
#changing time to be dim-coords from it's pd df index dim_0
noaa = noaa.swap_dims({'dim_0' : 'time'})
noaa

<xarray.Dataset>
Dimensions:      (time: 433, year: 433)
Coordinates:
  * year         (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019
    dim_0        (time) int64 0 1 2 3 4 5 6 7 ... 426 427 428 429 430 431 432
  * time         (time) datetime64[ns] 1983-07-01 1983-08-01 ... 2019-07-01
Data variables:
    month        (year) int64 7 8 9 10 11 12 1 2 3 4 ... 10 11 12 1 2 3 4 5 6 7
    average      (year) float64 1.626e+03 1.628e+03 ... 1.86e+03 1.859e+03
    average_unc  (year) float64 2.5 3.1 2.5 1.6 0.7 ... -9.9 -9.9 -9.9 -9.9 -9.9
    trend        (year) float64 1.635e+03 1.635e+03 ... 1.867e+03 1.868e+03
    trend_unc    (year) float64 1.6 1.5 1.4 1.4 1.3 ... -9.9 -9.9 -9.9 -9.9 -9.9

In [ ]:
noaa = noaa.drop(labels='month')

In [21]:
noaa

<xarray.Dataset>
Dimensions:      (time: 433, year: 433)
Coordinates:
  * year         (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019
    dim_0        (time) int64 0 1 2 3 4 5 6 7 ... 426 427 428 429 430 431 432
  * time         (time) datetime64[ns] 1983-07-01 1983-08-01 ... 2019-07-01
Data variables:
    average      (year) float64 1.626e+03 1.628e+03 ... 1.86e+03 1.859e+03
    average_unc  (year) float64 2.5 3.1 2.5 1.6 0.7 ... -9.9 -9.9 -9.9 -9.9 -9.9
    trend        (year) float64 1.635e+03 1.635e+03 ... 1.867e+03 1.868e+03
    trend_unc    (year) float64 1.6 1.5 1.4 1.4 1.3 ... -9.9 -9.9 -9.9 -9.9 -9.9

In [ ]:
noaa.to_netcdf(mode='w', path='./data/noaa.nc')

## NOAA vs methane (wetlands and anthropogenic) yearly averages

In [29]:
noaa.average

<xarray.DataArray 'average' (year: 433)>
array([1625.9, 1628. , 1638.4, 1644.8, 1642.6, 1639.5, 1638.7, 1638.8,
       1640.7, 1643.7, 1642.9, 1639.6, 1637.8, 1641.3, 1650.4, 1654.5,
       1653.6, 1656.1, 1655.5, 1652.2, 1654.6, 1658.1, 1655.8, 1650. ,
       1646.8, 1652.2, 1662.5, 1667.6, 1666.8, 1666. , 1666.3, 1666.9,
       1669.3, 1670.8, 1668.4, 1664.7, 1662.3, 1664.3, 1672.6, 1678.7,
       1678.9, 1679.1, 1679.3, 1678.9, 1680. , 1681.5, 1682. , 1680.1,
       1676. , 1677.1, 1685.7, 1691.7, 1691.2, 1690.5, 1692. , 1692.5,
       1691.2, 1690. , 1689. , 1687.1, 1685.9, 1689.3, 1696.2, 1701.3,
       1702.8, 1701.9, 1700.6, 1701.1, 1702.6, 1703.8, 1703.4, 1700.2,
       1698.2, 1702. , 1707.2, 1710.6, 1713.1, 1713.1, 1712. , 1713.3,
       1714.3, 1712.7, 1710.7, 1708.3, 1706.4, 1710.1, 1717.5, 1722.1,
       1723.5, 1723.4, 1721.7, 1721.2, 1722. , 1722.6, 1722.4, 1719.2,
       1716.2, 1719.3, 1726.3, 1732.8, 1737.5, 1739.6, 1738.9, 1737.3,
       1736.9, 1736.6, 1734.9, 1731.5, 1728.7, 1730.3, 1734.6, 1737.8,
       1739.4, 1738.6, 1735.7, 1734.4, 1735.5, 1736.7, 1735. , 1730.8,
       1728. , 1731.2, 1738.4, 1743.3, 1745.1, 1744.2, 1741.5, 1740.9,
       1741.9, 1741.9, 1740.6, 1736.9, 1732.4, 1734. , 1742.9, 1749.9,
       1751.2, 1751.5, 1751. , 1749.4, 1749. , 1749.5, 1747.7, 1742.8,
       1740.1, 1743.5, 1749.7, 1754.3, 1755.3, 1753.7, 1752.4, 1752.9,
       1752.4, 1749.9, 1748.6, 1746.2, 1742.2, 1744.7, 1753. , 1759. ,
       1759.9, 1756.8, 1753.4, 1753.8, 1755.6, 1755.6, 1753.9, 1750.2,
       1746.2, 1747.9, 1755.1, 1760.3, 1761.7, 1761.9, 1761.5, 1761.6,
       1763.1, 1764.8, 1764.3, 1760.3, 1756.1, 1760. , 1770.5, 1776.2,
       1775.5, 1774.2, 1774. , 1774.1, 1774.7, 1775. , 1772.7, 1767.4,
       1763. , 1764.7, 1771.1, 1776.7, 1778.5, 1777.3, 1775.8, 1775.8,
       1776.7, 1777.2, 1774.5, 1768.1, 1763.6, 1765.5, 1772.1, 1777.1,
       1777.7, 1775.3, 1772.9, 1772.5, 1773.7, 1774. , 1770.9, 1765.9,
       1762.7, 1764.3, 1770.5, 1775.6, 1776.6, 1775.9, 1774.1, 1772.8,
       1773.4, 1772.7, 1770.2, 1766.9, 1764.4, 1767.1, 1773.8, 1778.3,
       1779.6, 1779.8, 1777.6, 1774.9, 1774.9, 1775.9, 1774.5, 1771.7,
       1770.7, 1774.2, 1780.5, 1784.7, 1785.4, 1783.6, 1780.9, 1780. ,
       1781. , 1780.7, 1777.5, 1772.2, 1768. , 1769.6, 1775.4, 1779.6,
       1780.4, 1778.3, 1776.1, 1775.6, 1775.4, 1774.5, 1772.2, 1768.6,
       1766.3, 1768. , 1773.1, 1778.5, 1781. , 1780. , 1779.5, 1779.6,
       1777.5, 1776.2, 1775. , 1769.3, 1764. , 1767.1, 1774.6, 1778.4,
       1779.2, 1780. , 1779.3, 1778.7, 1780.4, 1781.2, 1779.5, 1775.6,
       1772.6, 1777.2, 1785.9, 1789.9, 1789.6, 1788.3, 1786.8, 1785.8,
       1786.1, 1786.8, 1785.1, 1780.4, 1777.6, 1781. , 1787.7, 1793.8,
       1797.4, 1796.7, 1795.2, 1795.7, 1796. , 1795.6, 1792.3, 1786.8,
       1785. , 1788.8, 1794.8, 1798. , 1797.8, 1796.6, 1797.2, 1798.9,
       1799.5, 1799.6, 1797.8, 1792.7, 1789.5, 1794.1, 1801.9, 1806.6,
       1807. , 1803.6, 1800.5, 1800.2, 1801. , 1802.9, 1803.3, 1799.2,
       1796.1, 1798.9, 1804. , 1809.5, 1812.3, 1810. , 1807.3, 1808.2,
       1809.9, 1808.4, 1804.7, 1800.9, 1799.3, 1803.2, 1810.1, 1814.8,
       1815.9, 1814.5, 1814.2, 1814.2, 1813.2, 1812.7, 1811.8, 1808.5,
       1805.8, 1808.4, 1814.4, 1818.6, 1820.3, 1819.3, 1816.9, 1816.4,
       1818.1, 1820.9, 1821.9, 1818.4, 1815.6, 1819.8, 1826.9, 1831.3,
       1833.1, 1833.5, 1833. , 1832.8, 1833. , 1833.2, 1831.7, 1827.3,
       1824.8, 1829.1, 1836.2, 1841.5, 1844.7, 1844.9, 1842.5, 1841.6,
       1843. , 1843.7, 1842.1, 1837.9, 1834.3, 1836.7, 1844.2, 1849.9,
       1851.4, 1851. , 1849.8, 1848.6, 1848.4, 1848.6, 1847. , 1842.9,
       1840.4, 1844.7, 1852.8, 1858.1, 1858.7, 1856.6, 1854.5, 1855.1,
       1856.9, 1856.6, 1854.7, 1851.9, 1849. , 1851.8, 1860.4, 1865.7,
       1866.2, 1865.8, 1864.7, 1864.6, 1866. , 1865.1, 1862.2, 1859.9,
       1858.6])
Coordinates:
  * year     (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019 2019