# NOAA

In [3]:
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
# %matplotlib inline

In [8]:
ls

CH4_emissions_seasonal.pdf
CH4_seasonal.pdf
OH_concentration.pdf
OH_concentration_zonal_mean.nc
README.md
ch4_antropogenic_emissions_zonal_model_mean.nc
ch4_mm_gl.txt
data_means.py
figures/
methane_twobox_lab2pII_tvaryOH.ipynb
noaa.ipynb
notfoundorders.html
plot.py
units_conversion.py
wetland_emissions_zonal_model_mean.nc

In [9]:
noaa_raw = pd.read_csv('ch4_mm_gl.txt', comment='#', delim_whitespace=True)
noaa_raw

     year  month   decimal  average  average_unc   trend  trend_unc
0    1983      7  1983.542   1625.9          2.5  1634.6        1.6
1    1983      8  1983.625   1628.0          3.1  1635.2        1.5
2    1983      9  1983.708   1638.4          2.5  1635.9        1.4
3    1983     10  1983.792   1644.8          1.6  1636.6        1.4
4    1983     11  1983.875   1642.6          0.7  1637.4        1.3
..    ...    ...       ...      ...          ...     ...        ...
428  2019      3  2019.208   1866.0         -9.9  1864.4       -9.9
429  2019      4  2019.292   1865.1         -9.9  1865.3       -9.9
430  2019      5  2019.375   1862.2         -9.9  1866.3       -9.9
431  2019      6  2019.458   1859.9         -9.9  1867.3       -9.9
432  2019      7  2019.542   1858.6         -9.9  1868.2       -9.9

[433 rows x 7 columns]

In [35]:
noaa_clean = noaa_raw.drop(columns='decimal').sort_values(['year', 'month'], ascending=True).set_index('year')
noaa_clean

      month  average  average_unc   trend  trend_unc
year
1983      7   1625.9          2.5  1634.6        1.6
1983      8   1628.0          3.1  1635.2        1.5
1983      9   1638.4          2.5  1635.9        1.4
1983     10   1644.8          1.6  1636.6        1.4
1983     11   1642.6          0.7  1637.4        1.3
...     ...      ...          ...     ...        ...
2019      3   1866.0         -9.9  1864.4       -9.9
2019      4   1865.1         -9.9  1865.3       -9.9
2019      5   1862.2         -9.9  1866.3       -9.9
2019      6   1859.9         -9.9  1867.3       -9.9
2019      7   1858.6         -9.9  1868.2       -9.9

[433 rows x 5 columns]

In [21]:
# noaa_xr = xr.Dataset.from_dataframe(noaa_clean)
noaa_xr.month

<xarray.DataArray 'month' (year: 433)>
array([7, 8, 9, ..., 5, 6, 7])
Coordinates:
  * year     (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019 2019

In [12]:
noaa_xr.month

<xarray.DataArray 'month' (year: 433)>
array([7, 8, 9, ..., 5, 6, 7])
Coordinates:
  * year     (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019 2019

In [13]:
noaa = noaa_xr.assign_coords({'month': noaa_xr.month})
noaa

<xarray.Dataset>
Dimensions:      (year: 433)
Coordinates:
  * year         (year) int64 1983 1983 1983 1983 1983 ... 2019 2019 2019 2019
    month        (year) int64 7 8 9 10 11 12 1 2 3 4 ... 10 11 12 1 2 3 4 5 6 7
Data variables:
    average      (year) float64 1.626e+03 1.628e+03 ... 1.86e+03 1.859e+03
    average_unc  (year) float64 2.5 3.1 2.5 1.6 0.7 ... -9.9 -9.9 -9.9 -9.9 -9.9
    trend        (year) float64 1.635e+03 1.635e+03 ... 1.867e+03 1.868e+03
    trend_unc    (year) float64 1.6 1.5 1.4 1.4 1.3 ... -9.9 -9.9 -9.9 -9.9 -9.9

In [14]:
noaa.to_netcdf(path='data/')

AttributeError: module 'dask' has no attribute 'base'

In [22]:
xr.open_dataset('/data/')

'/Users/Mitevski1/sync/github/ch4_box_model'

In [23]:
cd data

[Errno 2] No such file or directory: 'data'
/Users/Mitevski1/sync/github/ch4_box_model

In [24]:
ls

CH4_emissions_seasonal.pdf
CH4_seasonal.pdf
OH_concentration.pdf
OH_concentration_zonal_mean.nc
README.md
ch4_antropogenic_emissions_zonal_model_mean.nc
ch4_mm_gl.txt
data_means.py
figures/
methane_twobox_lab2pII_tvaryOH.ipynb
noaa.ipynb
notfoundorders.html
plot.py
units_conversion.py
wetland_emissions_zonal_model_mean.nc

In [26]:
xr.open_dataset('ch4_antropogenic_emissions_zonal_model_mean.nc')

<xarray.Dataset>
Dimensions:    (lat: 360, time: 540)
Coordinates:
  * time       (time) datetime64[ns] 1970-01-31 1970-02-28 ... 2014-12-31
  * lat        (lat) float64 -89.75 -89.25 -88.75 -88.25 ... 88.75 89.25 89.75
Data variables:
    ch4_antro  (time, lat) float64 ...